table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #dddddd;
}

th {
    background-color: #f9f9f9;
    font-weight: bold;
}

iframe {
    border: none;
    outline: none;
}

#labTestCheckerFrameWrapper {
    min-height: 600px;
}

.comment {
    margin: 16px 0;
    padding: 16px;
    border-radius: 4px;
    color: #0a3622;
    border: 1px solid #59D5AE;
}

#ltcLoader {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    color: #005c57;
    font-weight: bolder;
    font-size: 20px;
    height: 100%;
    margin-top: 24px;
}

#ltcLoader i {
    font-size: 64px;
}

@media (min-width: 600px) {
    #ltcLoader {
        margin-top: 150px;
    }
}
